<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body class="page-single custom-background">
   {{ partial "topnav.html" . }}
    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <article class="col-md-9" id="blog-post">
                    <header class="blog-banner">

                                     <div class="topbanner">
                                      {{ if .Params.banner }}
                                          <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="">
                                      
                                          {{ end }}
                                         {{ if .Params.banner }}
                                          {{ partial "widgets/tags-this.html" . }}


                                          </div>   
                                            
                <h1>{{ .Title }}</h1>
                       {{end}}
                                    
                        <p class="text-muted text-uppercase mb-small text-right">
                           {{ $baseurl := .Site.BaseURL }}
{{ with .Params.authors }}
   {{ i18n "authorBy" }}
    {{ range  $i, $kw := . }}{{ if $i }}&bullet;{{ end }}
        {{ if isset $.Site.Data.names . }}
        {{ $dtitle := (index $.Site.Data.names .) }}
        <a href="{{ $baseurl }}authors/{{ . | urlize }}/" rel="author">{{ index $dtitle.shortname }}</a>
        {{ else }}
        <a href="{{ $baseurl }}authors/{{ . | urlize }}/" rel="author" class="non">{{ . }}</a>
        {{ end }}
    {{ end }} |
{{ end }}
                        
                        {{ if .Params.date }}
                        {{ .Date.Format .Site.Params.date_format }} {{end}}</p>
</header>
                       
                        <div id="post-content">
                          {{ if .Params.excerpt }}
                                        
                                        
                                         <p class="lead"> {{ .Params.excerpt }}
                                          {{ end }}</p>
                                          
                          {{ .Content }}

                          

                          <div class="nav-links">
                          {{ if .PrevInSection }}
                          <div class="nav-previous"><a rel="prev" href="{{.PrevInSection.Permalink}}"><span class="nav-title">{{.PrevInSection.Title}}</span><span class="nav-arrow">
                            <span class="fas fa-arrow-left" aria-hidden="true"></span>
                          </span></a></div>
{{ end }}

{{ if .NextInSection }}
<div class="nav-next"><a rel="next" href="{{.NextInSection.Permalink}}"><span class="nav-title">{{.NextInSection.Title}}</span><span class="nav-arrow">
  <span class="fas fa-arrow-right" aria-hidden="true"></span>
</span></a></div>
{{ end }}
                        </div>
                      </div>
                           
                        <!-- /#post-content -->
                      
     {{ if .Site.DisqusShortname }} 
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div> 
                        {{ end }}
                    </article>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                       


                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
 
            </div>
            <!-- /.container -->
          
            
         
        </div>
        <!-- /#content -->

        {{  partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
