 {{ partial "topnav.html" . }}
    
<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<footer id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p>{{ .Site.Params.copyright | safeHTML }}  &nbsp;
              <a href="{{ .Site.BaseURL }}index.xml"><span class="fa fa-rss"></span> <span class="sr-only">Blog RSS</span></a></p>
            {{ end }}
             
        </div>
    </div>
</footer>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
