{{ template "_internal/google_analytics.html" . }}
<script src="{{ .Site.BaseURL }}/js/jquery-3.4.1.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>  
<script src="{{ .Site.BaseURL }}js/front.js"></script>

<!-- owl carousel -->
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>

<script src="{{ .Site.BaseURL }}js/fontloader.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>

