<div class="sidebar">
  <div class="profile">
    <a href="/contact"><img src="/img/jeanine-helo-300x300.jpg" alt="Jeanine Schoessler standing in front of a helicopter"
      height="300" width="300" /></a>
  </div>

  <h2><a href="https://twitter.com/search?q=%23outc20" title="Twitter feed">#OUTC20</a></h2>
  <p>I'll be attending the <a href="https://outc20.com/">2020 OmniUpdate User Training Conference</a>. See you there!</p>

  <h2>Recent projects</h2>
  <p>Developing out web page designs into HTML/CSS/JavaScript, fixing web page semantics for accessibility and SEO, migrating OU Campus web pages to new templates, and
    managing university websites. </p>

  <h2>Learning</h2>
  <p>
    Fall/Winter: <a href="https://learnui.design/">LearnUI</a><br/>
    Summer: <a href="https://trydesignlab.com/web-design-course/?discount=55551ca2">Graphic Design</a>, <a href="https://frontendmasters.com/courses/servers-node-js/">Servers & Node.js</a><br/>
      </p>

  <h2>Follow me</h2>
  <a class="twitter-timeline" data-height="400" data-dnt="true" data-link-color="#E81C4F" href="https://twitter.com/satinflame?ref_src=twsrc%5Etfw">Tweets by satinflame</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- <h2>Tags</h2>
  {{ partial "widgets/tags.html" . }} -->

</div>