<div class="topnav cf">
    <div class="container">
     
    <div class="icons">
        <ul class="list-unstyled list-inline">
            <li><a title="Get started with your project" href="/contact"><span class="fa fa-envelope-o"><span class="sr-only">Contact</span></span></a></li>
            <li><a title="View Jeanine Schoessler's profile on LinkedIn" href="https://www.linkedin.com/in/satinflame/"><span class="fa fa-linkedin"><span class="sr-only">Contact</span></span></a></li>
            <li><a title="Find me on Twitter" href="https://twitter.com/Graphical"><span class="fa fa-twitter"><span class="sr-only">Contact</span></span></a></li>
        </ul>
    </div>
    </div>
</div>