<div class="topnav cf">
    <div class="container">
     
    <div class="icons">
        <ul class="list-unstyled list-inline">
            <li><a href="/contact"><span class="fa fa-envelope-o"><span class="sr-only">Contact</span></span></a></li>
            <li><a href="/contact"><span class="fa fa-linkedin"><span class="sr-only">Contact</span></span></a></li>
            <li><a href="/contact"><span class="fa fa-twitter"><span class="sr-only">Contact</span></span></a></li>
        </ul>
    </div>
    </div>
</div>