<div class="topnav cf">
    <div class="container">
    <p class="tagline">Web development for higher education</p>
    <div class="icons">
        <ul class="list-unstyled list-inline">
            <li><a title="Get started with your project" href="/contact"><span class="fa fa-envelope-o"><span class="sr-only">Email</span></span></a></li>
            <li><a title="View Jeanine Schoessler's profile on LinkedIn" href="https://www.linkedin.com/in/satinflame/"><span class="fa fa-linkedin"><span class="sr-only">LinkedIn</span></span></a></li>
            <li><a title="Find me on Twitter" href="https://twitter.com/Graphical"><span class="fa fa-twitter"><span class="sr-only">Twitter</span></span></a></li>
            <li><a title="Find me on GitHub" href="https://github.com/virtual"><span class="fa fa-github"><span class="sr-only">GitHub</span></span></a></li>
        </ul>
    </div>
    </div>
</div>